<?xml version="1.0"?>
<ConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Forumtitle>DCoolNet Command Center</Forumtitle>
  <Forumurl>http://www.dcoolweb.com</Forumurl>
  <Webtitle>SDSS Cycle Time System</Webtitle>
  <Weburl>http://www.dcoolweb.com</Weburl>
  <Icp />
  <Closed>0</Closed>
  <Closedreason>抱歉!暂时关闭,稍后才能访问.</Closedreason>
  <DcCacheIsEnable>true</DcCacheIsEnable>
  <DcCacheTime>5</DcCacheTime>
  <Netdisk>1</Netdisk>
  <Netdisksize>20</Netdisksize>
  <Netdiskfiletypes>7z|aiff|asf|avi|bmp|csv|doc|fla|flv|gif|gz|gzip|jpeg|jpg|mid|mov|mp3|mp4|mpc|mpeg|mpg|ods|odt|pdf|png|ppt|pxd|qt|ram|rar|rm|rmi|rmvb|rtf|sdc|sitd|swf|sxc|sxw|tar|tgz|tif|tiff|txt|vsd|wav|wma|wmv|xls|xml|zip</Netdiskfiletypes>
  <Zuzhiname>DCool1.0</Zuzhiname>
  <Zuzhiurl>http://www.dcoolweb.com</Zuzhiurl>
  <Fuwutiaokuan>test</Fuwutiaokuan>
  <Notregusername>admin</Notregusername>
  <Zanhuaguolv>test</Zanhuaguolv>
  <Bianmingchaxun />
  <Forumdescription>test</Forumdescription>
  <Forumkeywords>test</Forumkeywords>
  <Uploadfiletypes>gif|jpg|png|bmp|swf|wma</Uploadfiletypes>
  <Userfacesize>30</Userfacesize>
  <Topicfilesize>1024</Topicfilesize>
  <Mailtype>JMail.SmtpMail</Mailtype>
  <Mailaddress>fsadf</Mailaddress>
  <Mailsmtp>fdsaf</Mailsmtp>
  <Mailusername>asdfasdf</Mailusername>
  <Mailpassword>asdfsadfsad</Mailpassword>
  <Regverification>1</Regverification>
  <Loginverification>1</Loginverification>
  <Addpro>2</Addpro>
  <Addproandtopic>1</Addproandtopic>
  <Revpro>1</Revpro>
  <Delpro>-2</Delpro>
  <Delrevpro>-1</Delrevpro>
  <Addtopic>2</Addtopic>
  <Revtopic>1</Revtopic>
  <Deltopic>-2</Deltopic>
  <Delrevtopic>-1</Delrevtopic>
  <Topicgood>5</Topicgood>
  <Deltopicgood>-5</Deltopicgood>
  <Dig>2</Dig>
  <Groupisaudit>0</Groupisaudit>
  <Proisaudit>0</Proisaudit>
  <Bottomstring>test</Bottomstring>
  <Bottomabout>test</Bottomabout>
  <Bottommeiti>test</Bottommeiti>
  <Bottomjob>test</Bottomjob>
  <Bottomxieyi>test</Bottomxieyi>
  <Bottomhezuo>test</Bottomhezuo>
  <Bottomad>test</Bottomad>
  <Bottomlink>test</Bottomlink>
  <Bottomlianxi>test</Bottomlianxi>
</ConfigInfo>